@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.main {
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    pointer-events: none;
    background:#141819;
  }
  .red-hat-display-heading {
    font-family: "Red Hat Display", sans-serif;
  }

  
 

  
@media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  }


.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto ;
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.4);
  }

  .title-animation{
     /* color: #F66C3B;   */
    line-height: 1.1; /* Adjust to ensure no clipping */
    /* background: linear-gradient(to bottom right, #F66C3B,#F66C3B, #FBB59D,#F66C3B, #F66C3B); */
    /* background-size: 400%; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    /* animation: titleAnimation 5s linear infinite; */
  
  }
  @keyframes titleAnimation{
    0%{
      background-position: top left;
    }
    50%{
      background-position: bottom right;
    }
    100%{
      background-position: top left;
    }
  }
/* 
  .title-outline{
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #000000;
  } */

  .explore-btn{
    box-shadow: 0 4px 8px rgba(241, 117, 34, 0.4); /* Subtle shadow on all sides */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
  }
  .explore-btn:hover {
    box-shadow: 0 8px 16px rgba(241, 117, 34, 0.6); 
    transform: translateY(-2px); 
  }

  .bg-eventCard{
background: linear-gradient(to bottom right,#ffcfbf 19%, #f16c14 104.27%);
/* background-color: #707070; */
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .videoBlur{
    filter: blur(5px);
    -webkit-filter: blur(3px);
  }

  .event-title{
    color: #F66C3B;  
   line-height: 1.1; 
   background: linear-gradient(to bottom right, #F66C3B,#F66C3B, #FBB59D,#F66C3B, #F66C3B);
   background-size: 400%;
   -webkit-background-clip: text;
   color: transparent;
   animation: titleAnimation 5s linear infinite;
 
 }



.nav-items {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 750;
  font-size: 25px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.919);
  text-align: center;
  width: auto;
  height: relative;
  position: relative;
}


.relative.z-20 img {
  position: relative;
  z-index: 20;
}

@media (max-width: 768px) {
  .nav-items {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .nav-items {
    gap: 40px;
  }
}

html, body {
  background-color: #000000;
  color: white;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

#root, #__next {
  height: 100%;
}

main {
  padding: 20px;
}

footer {
  padding: 0px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}


@media (max-width: 768px) {
  footer {
    padding: 10px;
  }

}